body {
    margin: 0px;
}
.navigator {
    display: flex;
    flex-direction: row;
    width: auto;
    height: 75px;
    background-color: rgb(0, 0, 0);
    justify-content: space-around;
    align-items: center;
}

.navigator a {
    font-size: 14pt;
    color: white;
    text-decoration: none;
}

.navigator a:hover {
    color: rgb(177, 237, 255); /* Change the color when hovering */
    text-decoration: underline; /* Add underline when hovering */
}

.nav_logo {
    width: 275px;
    height: 65px;
}

.hero_frame {
    background-image: url("../images/rafting_picture.jpg");
    background-size: cover; /* Ensures the image covers the entire div */
    background-position: center; /* Centers the image within the div */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    width: 100%;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.div01 {
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
    background-color: white;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
    border-radius: 10px;
    opacity: 85%;
}

.pic_on_paragraph {
    width: auto;
    height: auto;
}

#hero_pic {
    width: 500px;
    height: 150px;
}

.history_block, .adventure_block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px; /* Added padding for better spacing */
}

.footer {
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.footer p {
    color: white;
}

.socials {
    display: flex;
    flex-direction: row;
    gap: 35px;
}

.img_socials {
    width: 30px;
    height: 30px;
}

.hero_frame h1 {
    margin-top: -25px;
    font-size: 48pt;
    font-weight: bold;
    color: #00ffea;
    -webkit-text-stroke: 3px;
    -webkit-text-stroke-color: rgb(0, 0, 0);
}

.adventure_images {
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}